.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 95%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    position: relative;
    height: 385px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .modal-title {
        font-size: 1.25rem;
        text-align: center;
        font-weight: bold;
    }

    .modal-close-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        border-radius: 50%;
    }

    .workout-details-wrapper {
        overflow: auto;
        margin: auto 0;
    }

    .no-data-available {
        text-align: center;
    }

    .workout-details-container {
        &:first-child {
            .item {
                margin-top: 0;
            }
        }
        &:last-child {
            .item.total {
                margin-bottom: 0;
            }
        }
    }

    .item {
        width: 100%;
        display: flex !important;
        margin: 0.5rem 0;
        flex-direction: row;

        div:first-child {
            width: 100%;
            text-align: left;
        }

        div:nth-child(2) {
            width: 85%;
            text-align: center;
        }

        div:last-child {
            width: 75%;
            text-align: center;
        }

        &.date,
        &.total {
            font-weight: bold;
        }
    }
}