.hamberger-icon {
    width: 28px;
    cursor: "pointer";
    display: "flex";
    flex-direction: "column";
    gap: "5px";
    font-size: 2rem;
}

.hamberger-dropdown {
    position: absolute;
    top: 3.5rem;
    left: 1rem;
    padding: 0.75rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 0.5rem;
    width: 40%;
    z-index: 10;
}