.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    position: relative;
    max-height: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .modal-title {
        font-size: 1.25rem;
        text-align: center;
        font-weight: bold;
    }

    .modal-close-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
        border-radius: 50%;
    }

    .workout-details-wrapper {
        overflow: auto;
    }

    .no-data-available {
        text-align: center;
    }

    .workout-details-container {
        border-bottom: 1px solid;
        margin: 0.5rem 1px;

        &:first-child {
            margin-top: 0;

            .item.date {
                margin-top: 0;
            }
        }

        &:last-child {
            border: none;
            margin-bottom: 0;

            .item.total {
                margin-bottom: 0;
            }
        }
    }

    .item {
        margin: 0.5rem 0;

        &.date,
        &.total {
            font-weight: bold;
        }
    }
}

.workout-details-summary-wrapper {
    display: flex;
    border-bottom: 1px solid;
    padding-bottom: 0.5rem;

    .workout-details-summary-container {
        width: 100%;
    }

    .workout-details-summary-number,
    .workout-details-summary-label {
        display: flex;
        font-weight: bold;
        justify-content: center;
    }

    .workout-details-summary-number {
        font-size: xx-large;
    }

}