.calendar-wrapper {
    width: fit-content;
    margin: 0 auto;

    .calendar-date {
        margin: 0;
        background: lightgreen;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.5rem;
        box-sizing: border-box;
        font-weight: bold;
    }

    .calendar-popup {
        position: fixed;
        background: white;
        border: 1px solid;
        border-radius: 0.5rem;
        padding: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
}